{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <h1>Login account</h1>
        <form method="post" class="login-form">
            {% csrf_token %}
            <input type="text" id="username" name="username" placeholder="Tên đăng nhập" required>
            <input type="password" id="password" name="password" placeholder="Mật khẩu" required>
            <button type="submit">Login</button>
            <p class="signup-prompt">Bạn chưa có tài khoản? <a href="{% url 'register' %}">Đăng ký ngay</a></p>
            <p class="forgot-password"><a href="{% url 'forgot_password' %}">Quên mật khẩu?</a></p>
        </form>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>
